#topBar {
  margin: 0;
  padding: 0;
  height: 750px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5) ), url('../assets/images/splash.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

svg {
  display: block;
  margin: auto;
}


#title {
  display: block;
  font-size: 5em;
  margin: auto; 
  color: black;
  text-align: center;
  font-family: 'Great Vibes', cursive;
}