<ng-container *ngFor="let win of wines">
  <mat-card>
    <mat-card-title>{{win.title}}</mat-card-title>
    <mat-card-subtitle>{{win.variety}}</mat-card-subtitle>
    <mat-card-content>{{win.description}}</mat-card-content>
    <mat-card-footer>{{win.taster_name}} {{win.taster_twitter_handle}}</mat-card-footer>
  </mat-card>
  <ng-container *ngFor="let wcom of win.comments">
    <mat-card>
      <mat-card-subtitle>{{wcom.commenter}}</mat-card-subtitle>
      <mat-card-content>{{wcom.comment}}</mat-card-content>
    </mat-card>
  </ng-container>
  <mat-card>
    <form (ngSubmit)="onSubmit(win.id, name, commentBody)" ng-controller="#comment">
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="name" required placeholder="Your name" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="commentBody" required matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit">Submit Comment</button>
    </form>
  </mat-card>
  <mat-divider></mat-divider>
  <br>
  <br>
  <br>
  <br>
</ng-container>